<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccination Tracker Login</title>
    <link rel="stylesheet" href="./static/vacc_css.css">
</head>
<body>

    <div class="container">

        <div class="left-section">
            <h1>Vaccination Tracker</h1>
            <p>
                Securely manage and track vaccination records
                for yourself and your family.
            </p>
        </div>

        <div class="login-box">

            <h2>Login</h2>

            <form id="loginForm">

                <input
                    type="email"
                    id="email"
                    placeholder="Enter Email"
                    required
                >

                <input
                    type="password"
                    id="password"
                    placeholder="Enter Password"
                    required
                >

                <button type="submit">
                    LOGIN
        
                </button>

                <p class="register">
                    Don't have an account?
                    <a href="/register">Register</a>
                </p>

            </form>

        </div>

    </div>

    <script src="./static/vacc_js.js"></script>

</body>
</html>