<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vaccination Tracker Dashboard</title>
<link rel="stylesheet" href="/static/vacc_nurse.css">
</head>
<body>

<header>

    <nav>

    <div class="logo">
        Vaccination Tracker
    </div>

    

    <div class="account-menu">

        <button id="accountBtn">
            Account 
        </button>

        <div class="dropdown" id="dropdown">

            <p><strong>User:</strong>Nurse</p>

            <a href="/logout">Logout</a>

        </div>

    </div>

</nav>

</header>

<section class="hero">

    <div class="hero-content">

        <h1>
            Welcome Back
        </h1>

        <p>
            Manage all vaccination records from one place.
        </p>

        

    </div>

</section>

<section class="dashboard">

    <h2>Dashboard</h2>
<div class="dashboard-grid">

        <div class="card">
            <h3>Vaccination Records</h3>
            <p>View all completed vaccinations.</p>
        </div>

        <div class="card">
            <h3>Add Record</h3>
            <p>Add a new vaccination entry.</p>
        </div>

        <div class="card">
            <h3>Update Record</h3>
            <p>Update vaccination records</p>
        </div>

        <div class="card">
            <h3>View Schedules</h3>
            <p>View all pending appointments globally.</p>
        </div>
        
    </div>
    
</section>

<section class="alerts">

    

    <div class="alert-box">

        

    </div>

    <div class="alert-box">

        

    </div>

</section>

<footer>

    <h3>Vaccination Tracker</h3>

    <p>Email: support@vaccinetracker.com</p>

    <p>© 2026 All Rights Reserved</p>

</footer>

<script src="/static/vacc_nurse.js"></script>

</body>
</html>